python>=3.9
# xarray
xarray>=2023.8.0
numpy
dask
netCDF4
h5netcdf
bottleneck
scipy
zarr>=2.11
shapely
pyyaml
boto3
geos>=3.10.0
s3fs==2022.5.0
fsspec==2022.5.0
tini
aiobotocore>=2.3.0,<2.4
pika
schema
requests