# Copyright 2023 California Institute of Technology (Caltech)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

python>=3.9
xarray>=2023.8.0
numpy
dask
netCDF4
h5netcdf
bottleneck
scipy
zarr>=2.11
shapely
pyyaml
boto3
geos>=3.10.0
s3fs==2022.5.0
fsspec==2022.5.0
tini
aiobotocore>=2.3.0,<2.4
pika
schema
requests
psutil